
    <div class="product-gallery__featured-inset">

        <owl-carousel-o [options]="carouselOptions" (changed)="featuredCarouselTranslated($event)" >
            <!--suppress AngularUndefinedBinding -->
            <ng-template *ngFor="let item of items" carouselSlide [id]="item.id">
                <div class="product-image product-image--location--gallery">
                    <a
                        appClick
                        class="product-image__body"
                        target="_blank"
                        [href]="item.image"
                        (click)="onFeaturedImageClick($event, item);"
                    >

                        <img class="product-image__img" [src]="item.image" alt="" #imageElement>
                    </a>
                </div>
            </ng-template>
        </owl-carousel-o>
    </div>

