<div class="nav-panel" [ngClass]="{ 'nav-panel--sticky': stickyMode }" #element>
    <div class="nav-panel__container container">
        <div class="nav-panel__row">
            <div *ngIf="logo" class="nav-panel__logo">
                <a [routerLink]="root.home()"> LOGO </a>
            </div>

            <div *ngIf="departments" class="nav-panel__departments">
                <app-header-departments></app-header-departments>
            </div>

            <!-- .nav-links -->
            <app-header-links
                class="nav-panel__nav-links nav-links"
            ></app-header-links>
            <!-- .nav-links / end -->

            <div class="nav-panel__indicators">
                <app-indicator
                    *ngIf="search"
                    icon="search-20"
                    iconWhenOpen="cross-20"
                    trigger="click"
                    (stateChanges)="
                        $event === true ? search.inputElement.focus() : ''
                    "
                    #searchIndicator="appIndicator"
                >
                    <app-search
                        location="indicator"
                        (escape)="searchIndicator.close()"
                        #search="search"
                    ></app-search>
                </app-indicator>

                <app-indicator
                    [link]="root.wishlist()"
                    icon="heart-20"
                    [counter]="(wishlist.count$ | async) || 0"
                ></app-indicator>

                <app-indicator
                    link="./shop/cart"
                    icon="cart-20"
                    trigger="click"
                    [counter]="(cart.quantity$ | async) || 0"
                    (buttonClick)="onCartClick()"
                    #cartIndicator="appIndicator"
                >
                    <app-header-dropcart
                        *ngIf="dropcartType === 'dropdown'"
                        (closeMenu)="cartIndicator.close(true)"
                    ></app-header-dropcart>
                </app-indicator>

                <app-indicator
                    link="./account"
                    icon="person-20"
                    trigger="click"
                    #accountIndicator="appIndicator"
                >
                    <app-account-menu
                        (closeMenu)="accountIndicator.close(true)"
                    ></app-account-menu>
                </app-indicator>
            </div>
        </div>
    </div>
</div>
