@font-face {
    font-family: 'serv';
    src:
            url('serv.ttf') format('truetype'),
            url('serv.woff') format('woff'),
            url('serv.svg#serv') format('svg');
    font-weight: normal;
    font-style: normal;
}
